<mat-card>
  <mat-card-header class="evol-card-header">
    <mat-card-title>Líneas</mat-card-title>
    <button mat-icon-button (click)="nuevaLinea()"><mat-icon>add</mat-icon></button>
  </mat-card-header>

  <mat-card-content class="evol-card-content">

    <div class="evol-tabla-container">

      <table mat-table [dataSource]="lineas">

        <!-- Columna Index -->
        <ng-container matColumnDef="index" sticky>
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.index }}</td>
        </ng-container>

        <!-- Columna Combinacion Contable -->
        <ng-container matColumnDef="combinacion">
          <th mat-header-cell *matHeaderCellDef>Combinación Contable</th>
          <td mat-cell *matCellDef="let element">
            {{ element.combinacionContable }}
            <button mat-icon-button (click)="goCombinacion(element.index)">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Columna Moneda -->
        <ng-container matColumnDef="moneda">
          <th mat-header-cell *matHeaderCellDef>Moneda</th>
          <td mat-cell *matCellDef="let element">{{ element.moneda }}</td>
        </ng-container>

        <!-- Columna Debito -->
        <ng-container matColumnDef="debito">
          <th mat-header-cell *matHeaderCellDef>Débito</th>
          <td mat-cell *matCellDef="let element">{{ element.debito }}</td>
        </ng-container>

        <!-- Columna Credito -->
        <ng-container matColumnDef="credito">
          <th mat-header-cell *matHeaderCellDef>Crédito</th>
          <td mat-cell *matCellDef="let element">{{ element.credito }}</td>
        </ng-container>

        <!-- Columna Referenciales -->
        <ng-container matColumnDef="referenciales">
          <th mat-header-cell *matHeaderCellDef>Columnas Referenciales</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="goReferencias(element.index)">
              <mat-icon>more_horiz</mat-icon>
            </button>
          </td>
        </ng-container>

        <!-- Columna Acciones -->
        <ng-container matColumnDef="acciones" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button><mat-icon (click)="editarLinea(element)">edit</mat-icon></button>
            <button mat-icon-button><mat-icon (click)="quitarLinea(element)">clear</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

    </div>

  </mat-card-content>
</mat-card>
