<mat-card class="evol-infolet-card">
  <mat-card-header>
    <h2>Estado General de Integración</h2>
  </mat-card-header>
  <mat-card-content class="evol-infolet-content">
    <mat-list class="evol-infolet-list">
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Archivos procesados</h2>
        <h2>6</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Transacciones cargadas</h2>
        <h2>50000</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Asientos Accounting Hub</h2>
        <h2>50000</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Asientos General Accounting</h2>
        <h2>5000</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Movimiento neto de hoy</h2>
        <h2>COP 34557600</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Movimiento neto de ayer</h2>
        <h2>COP 43838200</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Variación</h2>
        <div class="evol-infolet-rate-indicator">
          <mat-icon class="evol-rate-arrow-down">arrow_drop_down</mat-icon>
          <mat-icon class="evol-rate-arrow-up">arrow_drop_up</mat-icon>
          <h2>-21.17%</h2>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer class="evol-infolet-footer">
    <button mat-flat-button color="accent" class="evol-infolet-button">Ver</button>
  </mat-card-footer>
</mat-card>
