<mat-card class="evol-infolet-card">
  <mat-card-header>
    <h2>Estado General de Integración</h2>
  </mat-card-header>
  <mat-card-content class="evol-infolet-content">
    <mat-list class="evol-infolet-list">
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Archivos procesados</h2>
        <h2>{{ infolet?.archivosProcesados }}</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Transacciones cargadas</h2>
        <h2>{{ infolet?.transaccionesCargadas }}</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Asientos Accounting Hub</h2>
        <h2>{{ infolet?.asientosAccountingHub }}</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Asientos General Accounting</h2>
        <h2>{{ infolet?.asientosGeneralAccounting }}</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Movimiento neto de hoy</h2>
        <h2>{{ infolet?.movimientoNetoHoy | currency:'COP' }}</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Movimiento neto de ayer</h2>
        <h2>{{ infolet?.movimientoNetoAyer | currency:'COP' }}</h2>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <h2 class="evol-infolet-item-desc">Variación</h2>
        <div class="evol-infolet-rate-indicator">
          <mat-icon class="evol-rate-arrow-down">arrow_drop_down</mat-icon>
          <mat-icon class="evol-rate-arrow-up">arrow_drop_up</mat-icon>
          <h2>{{ infolet!!.variacion / 100 | percent:'.0-2' }}</h2>
        </div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-footer class="evol-infolet-footer">
    <button mat-flat-button color="accent" class="evol-infolet-button" routerLink="controlymonitoreo">Ver</button>
  </mat-card-footer>
</mat-card>
