<app-close></app-close>
<h1 mat-dialog-title>Nueva Columna</h1>

<form [formGroup]="editarColumnaForm" (ngSubmit)="onSave()">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label for="columna">Columna</mat-label>
      <mat-select (selectionChange)="select($event)" id="columna" formControlName="columna" required>
        <mat-option *ngFor="let c of columnas" [value]="c.valor">{{ c.valor }}</mat-option>
      </mat-select>
    </mat-form-field>

    <p>Tipo</p>
    <p>{{ tipo }}</p>

    
      <app-input *ngIf="!isDate" [label]="'Valor'" formControlName="valor" [error]="showErrors('valor')" [onlyNumber]="isNumber"></app-input>
      <app-calendar *ngIf="isDate" [label]="'Valor'" formControlName="valor" [error]="showErrors('valor')"></app-calendar>
      <app-form-errors [control]="editarColumnaForm.controls['valor']"></app-form-errors>
    
  </div>

  <mat-dialog-actions class="evol-footer-actions">
    <button mat-flat-button color="accent" type="submit" [disabled]="!editarColumnaForm.valid">{{ boton }}</button>
  </mat-dialog-actions>
</form>
