.evol-control {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2em;
}

.evol-filtro-control {
  width: 100%;
}

.evol-tabla-control {
  width: 100%;
}
