<app-loader *ngIf="spinner"></app-loader>
<app-close></app-close>
<h1 mat-dialog-title>Listado de información</h1>
<mat-card-content class="evol-tabla-container">
    <table mat-table [dataSource]="dataSource" #tabla1>

      <!-- Columna Numeracion -->
      <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let element; index as i"> {{ element.codigo }} </td>
      </ng-container>

      <!-- Columna Fecha -->
      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let element"> {{ element.valor }}</td>
      </ng-container>

      <!-- Columna Acciones -->
      <ng-container matColumnDef="acciones" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-flat-button color="accent" (click)="send(element)">Seleccionar</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length" *ngIf="!spinner">No hay registros que cumplan los filtros establecidos</td>
      </tr>

    </table>
    <mat-paginator
      [pageSize]="20"
      [showFirstLastButtons]="true"
      [pageSizeOptions]="[20, 50, 100]"
    >
    </mat-paginator>

  </mat-card-content>