<app-close></app-close>
<app-loader *ngIf="spinner"></app-loader>
<h1 mat-dialog-title>Ejecutar1</h1>
<form [formGroup]="form" autocomplete="off">
    <div mat-dialog-content class="evol-editar-linea-container">
      <app-select [label]="'Reporte'" formControlName="Id" (changeOption)="changeOption($event)"  [options]="listReportestype"></app-select>

   <!--  <app-input [onlyNumber]="true"  (input)="onFocusOutEvent('lengerId')" (focusout)="onFocusOutEvent('lengerId')" [label]="'LengerId'" formControlName="lengerId" [error]="showErrors('lengerId')"></app-input>
        <app-form-errors [control]="form.controls['lengerId']"></app-form-errors>
        <app-input [onlyNumber]="true" (input)="onFocusOutEvent('dni')" (focusout)="onFocusOutEvent('dni')" [label]="'DNI'" formControlName="dni" [error]="showErrors('dni')"></app-input>
        <app-form-errors [control]="form.controls['dni']"></app-form-errors>
        <app-input (input)="onFocusOutEvent('cc')" (focusout)="onFocusOutEvent('cc')" [label]="'CC'" formControlName="cc" [error]="showErrors('cc')"></app-input>
        <app-form-errors [control]="form.controls['cc']"></app-form-errors> -->
    
    </div>
    <div mat-dialog-content class="evol-editar-linea-container">
        <div class="evol-tabla-wrapper">
          <div >
        <table mat-table formArrayName="parametros" [dataSource]="informationsParam" class="mat-elevation-z8">
       

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
          
            <!-- Position Column -->
            <ng-container matColumnDef="Nro">
              <th mat-header-cell *matHeaderCellDef> Nro. </th>
              <td mat-cell *matCellDef="let element"> {{element.NumeroParametro}}  </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="Parametro">
              <th mat-header-cell *matHeaderCellDef> Parametro </th>
              <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="Tipo">
              <th mat-header-cell *matHeaderCellDef> Tipo </th>
              <td mat-cell *matCellDef="let element"> {{element.TipoParametro}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container  matColumnDef="Valor">
              <th mat-header-cell *matHeaderCellDef> Valor </th>
              <td mat-cell *matCellDef="let row; let index = index">
                <app-input [ngModelOptions]="{standalone: true}" [disabled]="row.TipoParametro == 'Menu'" *ngIf="row.TipoParametro !== 'Fecha'" [(ngModel)]="row.ValorParametro" [onlyNumber]="row.TipoParametro === 'Numero'" ></app-input>
                <app-calendar [(ngModel)]="row.ValorParametro" [ngModelOptions]="{standalone: true}" *ngIf="row.TipoParametro === 'Fecha'"></app-calendar>
                

                <button mat-raised-button *ngIf="row.TipoParametro == 'Menu'" (click)="modalCrearLov(row,index)" >...</button>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          </div>
        </div>

    </div>
    <mat-dialog-actions class="evol-footer-actions"  >
        <app-actions [color]="'accent'" [class]="'flat'" (click)="save()"  [disabled]="!form.valid" [loading]="loading" [label]="'Guardar'"></app-actions>
    </mat-dialog-actions>
</form>