<app-close></app-close>
<app-loader *ngIf="spinner"></app-loader>
<h1 mat-dialog-title>Nueva Referencia Complementaria</h1>
<form [formGroup]="form" autocomplete="off">
    <div mat-dialog-content class="evol-editar-linea-container">
        <app-select [selected]="selectType" (changeOption)="changeOption($event);onFocusOutEvent('name')" [label]="'Referencia Complementaria'" formControlName="name" [options]="typeReference" [error]="showErrors('name')"></app-select>
        <app-form-errors [control]="form.controls['name']"></app-form-errors>
        <app-input *ngIf="!isDate" [onlyNumber]="isNumber"  (input)="onFocusOutEvent('value')" (focusout)="onFocusOutEvent('value')" [label]="'Valor'" formControlName="value" [error]="showErrors('value')"></app-input>
        <app-calendar *ngIf="isDate" [label]="'Valor'" formControlName="value" [error]="showErrors('value')"></app-calendar>
        <app-form-errors [control]="form.controls['value']"></app-form-errors>
    </div>
    <mat-dialog-actions class="evol-footer-actions">
        <app-actions [color]="'accent'" [class]="'flat'" (click)="save()" [disabled]="!form.valid" [loading]="loading" [label]="'Guardar'"></app-actions>
    </mat-dialog-actions>
</form>