<app-loader *ngIf="spinner"></app-loader>
<div class="evol-limites">
    <form [formGroup]="form" autocomplete="off">
        <mat-card>
            <app-title-header [Title]="'Configuración de Límites'"></app-title-header>

            <mat-card-content>
                <app-select [label]="'Nivel'" formControlName="text" [options]="selectLimits"></app-select>
            </mat-card-content>

            <mat-action-row class="evol-footer-actions">
                <app-actions [class]="'flat'" [color]="'warn'" (click)="buscar()" [label]="'Buscar'"></app-actions>
            </mat-action-row>
        </mat-card>
    </form>
    <app-tabla-limites (updateLis)="updateLis($event)" [loading]="spinner" [limites]="limitsCopy"></app-tabla-limites>
</div>