<form [formGroup]="buscarForm" (ngSubmit)="onBuscar()">

  <mat-expansion-panel hideToggle>

    <mat-expansion-panel-header>
      <mat-panel-title>Buscar</mat-panel-title>
      <mat-panel-description>
        <span></span>
        <mat-icon>filter_list</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field appearance="fill">
      <mat-label for="fuente">Fuente</mat-label>
      <mat-select id="fuente" formControlName="fuente">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let fuente of fuenteOptions" [value]="fuente">{{ fuente }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="valores">Valores</mat-label>
      <input matInput id="valores" formControlName="valores" autocomplete="off">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="tipo">Tipo</mat-label>
      <mat-select id="tipo" formControlName="tipo">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let tipo of tipoOptions" [value]="tipo">{{ tipo }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="campo">Campo</mat-label>
      <mat-select id="campo" formControlName="campo">
        <mat-option value="">Todos</mat-option>
        <mat-option *ngFor="let campo of campoOptions" [value]="campo">{{ campo }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-action-row>
      <button mat-flat-button color="accent" type="submit">Buscar</button>
    </mat-action-row>

  </mat-expansion-panel>

</form>
