<app-loader *ngIf="spinner"></app-loader>
<div class="evol-asientos-pendientes">
  <app-filtros></app-filtros>
  <mat-card>
    <app-title-header [title]="'Ejecutar'" [ViewIcon]="true" [IconType]="'add'" (click)="addNewInformation()"></app-title-header>
    <mat-card-content class="evol-tabla-limites-container">
      <div class="evol-tabla-wrapper">
        <table mat-table [dataSource]="informationsList">
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element?.nombre }}</td>
          </ng-container>
          <ng-container matColumnDef="fechaIni">
            <th mat-header-cell *matHeaderCellDef>Fecha Inicio</th>
            <td mat-cell *matCellDef="let element">{{ element?.fechaIni }}</td>
          </ng-container>
          <ng-container matColumnDef="fechaFin">
            <th mat-header-cell *matHeaderCellDef>Fecha Fin</th>
            <td mat-cell *matCellDef="let element">{{ element?.fechaFin }}</td>
          </ng-container>>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef>Estado</th>
            <container-element *matCellDef="let element" [ngSwitch]="element.estado">
              <td *ngSwitchCase="0">
                <app-actions [class]="'flat'" [color]="'primary'" [label]="'Activo'"></app-actions>
              </td>
              <td *ngSwitchCase="1">
                <app-actions [class]="'flat'" [color]="'accent'"  [label]="'Desactivo'"></app-actions>
              </td>
            </container-element>
          </ng-container>
          <ng-container matColumnDef="ruta">
            <th mat-header-cell *matHeaderCellDef>Ruta</th>
            <td mat-cell *matCellDef="let element">{{ element?.ruta }}</td>
          </ng-container>
          <ng-container matColumnDef="log">
            <th mat-header-cell *matHeaderCellDef>Log</th>
            <td mat-cell *matCellDef="let element">{{ element?.log }}</td>
          </ng-container>
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">
              <app-progress [loading]="loading"></app-progress>
            </th>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-header-row *matHeaderRowDef="['progress']" class="evol-tabla-progress"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>  
</div>
