<app-close></app-close>
<app-loader *ngIf="spinner"></app-loader>
<h1 mat-dialog-title>Nuevo límite</h1>
<form [formGroup]="form" autocomplete="off">
    <div mat-dialog-content class="evol-editar-linea-container">
        <app-select (changeOption)="onFocusOutEvent('description');" [label]="'Descripción'" formControlName="description"
          [options]="selectTypeNivel" [error]="showErrors('description')"></app-select>
        <app-form-errors [control]="form.controls['description']"></app-form-errors>
        <app-input [onlyNumber]="true" (input)="onFocusOutEvent('value')" (focusout)="onFocusOutEvent('value')" [label]="'Cuenta empieza por'" formControlName="value" [error]="showErrors('value')"></app-input>
        <app-form-errors [control]="form.controls['value']"></app-form-errors>
        <app-input [onlyNumber]="true" (input)="onFocusOutEvent('valueFinal')" (focusout)="onFocusOutEvent('valueFinal')" [label]="'Valor Máximo'" formControlName="valueFinal" [error]="showErrors('valueFinal')"></app-input>
        <app-form-errors [control]="form.controls['valueFinal']"></app-form-errors>
    </div>
    <mat-dialog-actions class="evol-footer-actions">
        <app-actions [color]="'accent'" [class]="'flat'" (click)="save()" [disabled]="!form.valid" [loading]="loading" [label]="'Guardar'"></app-actions>
    </mat-dialog-actions>
</form>