<mat-card>
  <mat-card-content class="evol-tabla-container">
    <div class="evol-tabla-wrapper">
      <table mat-table [dataSource]="cuentas">
        <ng-container matColumnDef="numeracion" sticky>
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element">{{ element.Num }}</td>
        </ng-container>
        <ng-container matColumnDef="primerDigito">
          <th mat-header-cell *matHeaderCellDef>Primer Dígito</th>
          <td mat-cell *matCellDef="let element">{{ element.Dig }}</td>
        </ng-container>
        <ng-container matColumnDef="cuenta">
          <th mat-header-cell *matHeaderCellDef>Cuenta</th>
          <td mat-cell *matCellDef="let element">{{ element.Account }}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.Name }}</td>
        </ng-container>
        <ng-container matColumnDef="moneda">
          <th mat-header-cell *matHeaderCellDef>Moneda</th>
          <td mat-cell *matCellDef="let element">{{ element.Currency }}</td>
        </ng-container>
        <ng-container matColumnDef="debito">
          <th mat-header-cell *matHeaderCellDef>Débito</th>
          <td mat-cell *matCellDef="let element">{{ element.Debit }}</td>
        </ng-container>
        <ng-container matColumnDef="credito">
          <th mat-header-cell *matHeaderCellDef>Crédito</th>
          <td mat-cell *matCellDef="let element">{{ element.Credit }}</td>
        </ng-container>
        <ng-container matColumnDef="neto">
          <th mat-header-cell *matHeaderCellDef>Neto</th>
          <td mat-cell *matCellDef="let element">{{ element.Neto }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
