<app-loader *ngIf="spinner"></app-loader>
<div class="evol-asientos-pendientes">
  <app-filtros (filtros)="filtrar($event)"></app-filtros>
  <mat-card>
    <!--
    <app-title-header [title]="'hola mundo'" [ViewIcon]="true" [IconType]="'add'" (click)="addNewInformation()">
    </app-title-header>-->
    <mat-card-content class="evol-tabla-limites-container">
      <div class="evol-tabla-wrapper">
        <table mat-table [dataSource]="informationsList">
          <ng-container matColumnDef="Id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let element"> <a href="javascript:void(0)" (click)="editar(element)"> {{ element?.Id }} </a>  </td>
          </ng-container>
          <ng-container matColumnDef="Nombre Reporte">
            <th mat-header-cell *matHeaderCellDef>Nombre Reporte</th>
            <td mat-cell *matCellDef="let element"  >{{ element?.NombreReporte }}</td>
          </ng-container>
          <ng-container matColumnDef="Codigo Reporte">
            <th mat-header-cell *matHeaderCellDef>Codigo Reporte</th>
            <td mat-cell *matCellDef="let element">{{ element?.CodigoReporte }}</td>
          </ng-container>>
          <ng-container matColumnDef="Ruta Reporte">
            <th mat-header-cell *matHeaderCellDef>Ruta Reporte</th>
            <td mat-cell *matCellDef="let element">{{ element?.RutaReporte }}</td>
          </ng-container>
          <ng-container matColumnDef="Nombre Archivo">
            <th mat-header-cell *matHeaderCellDef>Nombre Archivo</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.NombreArchivo }}</td>
          </ng-container>
     
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">
              <app-progress [loading]="loading"></app-progress>
            </th>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-header-row *matHeaderRowDef="['progress']" class="evol-tabla-progress"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>  
</div>
