.evol-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 2em;
}

.evol-form-section {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
}

.mat-flat-button{
  background-color: rgba(205, 203, 207, 0.788);
  color: black;
}

.flat{
  background-color: rgba(205, 203, 207, 0.788);
}

.table-header-fix2{
  width:14.50% !important; // 12.50 = fullScreenWidth / nr_Columns
}