<app-loader *ngIf="spinner"></app-loader>
<form [formGroup]="filtrosForm" novalidate>
  <mat-card>
    <app-title-header [Title]="'Registro Reporte'"></app-title-header>
    <mat-card-content class="evol-form-container">
      <div class="evol-form-section">
        <app-input (input)="onFocusOutEvent('nameReport')" (focusout)="onFocusOutEvent('nameReport')" [label]="'Nombre'"
          formControlName="nameReport" [error]="showErrors('nameReport')"></app-input>
        <app-form-errors [control]="filtrosForm.controls['nameReport']"></app-form-errors>
        <app-input (input)="onFocusOutEvent('codeReport')" (focusout)="onFocusOutEvent('codeReport')" [label]="'Código'"
          formControlName="codeReport" [error]="showErrors('codeReport')"></app-input>
        <app-form-errors [control]="filtrosForm.controls['codeReport']"></app-form-errors>
      </div>
      <div class="evol-form-section">
        <app-input (input)="onFocusOutEvent('routeReport')" (focusout)="onFocusOutEvent('routeReport')" [label]="'Ruta'"
          formControlName="routeReport" [error]="showErrors('routeReport')"></app-input>
        <app-form-errors [control]="filtrosForm.controls['routeReport']"></app-form-errors>
        <app-input (input)="onFocusOutEvent('routeFtpReport')" (focusout)="onFocusOutEvent('routeFtpReport')"
          [label]="'Ruta Ftp'" formControlName="routeFtpReport" [error]="showErrors('routeFtpReport')"></app-input>
        <app-form-errors [control]="filtrosForm.controls['routeFtpReport']"></app-form-errors>
      </div>
      <div class="evol-form-section">
        <app-input (input)="onFocusOutEvent('fileName')" (focusout)="onFocusOutEvent('fileName')" [label]="'Nombre Archivo'"
          formControlName="fileName" [error]="showErrors('fileName')"></app-input>
        <app-form-errors [control]="filtrosForm.controls['fileName']"></app-form-errors>
        <app-input [onlyNumber]="true" (input)="onFocusOutEvent('countPage')" (focusout)="onFocusOutEvent('countPage')"
          [label]="'Cantidad'" formControlName="countPage" [error]="showErrors('countPage')"></app-input>
        <app-form-errors [control]="filtrosForm.controls['countPage']"></app-form-errors>
      </div>
    </mat-card-content>
    <app-title-header [Title]="'Parámetros'" [ViewIcon]="true" [IconType]="'add'" (click)="createItem()"></app-title-header>
    <mat-card-content class="evol-form-container">
      <div formArrayName="items">
        <div *ngFor="let item of items.controls; let index=index; let last=last;" [formGroupName]="index">
          <h4>Parámetro N° {{index+1}} <mat-icon (click)="delInput(index)">remove_circle_outline</mat-icon></h4>
          <app-input [label]="'Nombre'" formControlName="name" ></app-input>
          <app-input [label]="'Valor'" formControlName="value" ></app-input>
          <app-select [label]="'Tipo'" formControlName="type" [options]="listType"></app-select>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>