<mat-form-field appearance="fill">
    <p [ngClass]="{ 'error-message u-mb0': error }">{{ label }}
        <ng-content select="[header]"></ng-content>
    </p>
    <input matInput  style="display: none;">
    <ng-number-input
        [customStyle]="style ? customStyle1 : customStyle"
        [(ngModel)]="value"
        [disabled]="disabled"
        [limitTo]="limitTo"
        [attr.placeholder]="placeholder"
        [@fade]="'in'"
        #validators="ngModel"
        [ngClass]="{ 'is-invalid-input u-mb0': error }"
    >
    </ng-number-input>
    <ng-content></ng-content>
</mat-form-field>