<app-loader *ngIf="spinner"></app-loader>
<mat-card>
  <app-title-header [ViewIcon]="true" [IconType]="'add'" (click)="addNewRegister($event)"></app-title-header>
  <mat-card-content class="evol-tabla-limites-container">
    <div class="evol-tabla-wrapper">
      <table mat-table [dataSource]="limites">
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Nivel</th>
          <td mat-cell *matCellDef="let element">{{ element.codigoNew }}</td>
        </ng-container>
        <ng-container matColumnDef="empiezaCon">
          <th mat-header-cell *matHeaderCellDef>Cuenta empieza por</th>
          <td mat-cell *matCellDef="let element">{{ element.nuevoValor }}</td>
        </ng-container>
        <ng-container matColumnDef="importeMaximo">
          <th mat-header-cell *matHeaderCellDef>Importe Máximo</th>
          <td mat-cell *matCellDef="let element">{{ numerTranfors(element.importeMaximo) }}</td>
        </ng-container>
        <ng-container matColumnDef="nuevoValorFinish">
          <th mat-header-cell *matHeaderCellDef>Nuevo Importe Máximo</th>
          <td mat-cell *matCellDef="let element; let i = index">
            <app-input-currency [disabled]="element?.estado === 1" [maxlength]="999999999999999" [limitTo]="2" (input)="onCambio($event, i)" [valueInput]="element.importeMaximoNew"></app-input-currency>
          </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <ng-container *matCellDef="let element;let index=index" [ngSwitch]="element.estado">
            <td style="display: block;margin: auto;text-align: center;" *ngSwitchCase="0">
              <app-actions (click)="onChange(element, index)" [icon]="'delete'" [class]="'icon'"></app-actions>
            </td>
            <td style="display: block;margin: auto;text-align: center;" *ngSwitchCase="1">
              <app-actions [class]="'flat'" [color]="'accent'" (click)="onChange(element,index)" [label]="'Desactivo'"></app-actions>
            </td>
          </ng-container>
        </ng-container>
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">
            <app-progress [loading]="loading"></app-progress>
          </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="['progress']" class="evol-tabla-progress"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-action-row class="evol-footer-actions">
    <app-actions [class]="'flat'" [color]="'warn'" (click)="grabar()" [label]="'Grabar'" [disabled]="sinCambios"></app-actions>
  </mat-action-row>
</mat-card>
