<app-loader *ngIf="spinner"></app-loader>
<mat-card>
  <app-title-header [ViewIcon]="true" [IconType]="'add'" (click)="addNewRegister()"></app-title-header>
  <mat-card-content class="evol-tabla-limites-container">
    <div class="evol-tabla-wrapper">
      <table mat-table [dataSource]="limites">
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Nivel</th>
          <td mat-cell *matCellDef="let element">{{ element.codigoNew }}</td>
        </ng-container>
        <ng-container matColumnDef="empiezaCon">
          <th mat-header-cell *matHeaderCellDef>Cuenta empieza por</th>
          <td mat-cell *matCellDef="let element">{{ element.nuevoValor }}</td>
        </ng-container>
        <ng-container matColumnDef="importeMaximo">
          <th mat-header-cell *matHeaderCellDef>Importe Máximo</th>
          <td mat-cell *matCellDef="let element">{{ element.importeMaximo }}</td>
        </ng-container>
        <ng-container matColumnDef="nuevoValorFinish">
          <th mat-header-cell *matHeaderCellDef>Nuevo Importe Máximo</th>
          <td mat-cell *matCellDef="let element">
            <app-input min="0" [type]="'number'" (input)="onCambio()" [onlyNumber]="true" [(ngModel)]="element.importeMaximoNew"></app-input>
          </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <container-element *matCellDef="let element" [ngSwitch]="element.estado">
            <td *ngSwitchCase="0">
              <app-actions [class]="'flat'" [color]="'primary'" (click)="onChange(element.id)" [label]="'Activo'"></app-actions>
            </td>
            <td *ngSwitchCase="1">
              <app-actions [class]="'flat'" [color]="'accent'" (click)="onChange(element.id)" [label]="'Desactivo'"></app-actions>
            </td>
          </container-element>
        </ng-container>
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">
            <app-progress [loading]="loading"></app-progress>
          </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="['progress']" class="evol-tabla-progress"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </mat-card-content>
  <mat-action-row class="evol-footer-actions">
    <app-actions [class]="'flat'" [color]="'warn'" (click)="grabar()" [label]="'Grabar'" [disabled]="sinCambios"></app-actions>
  </mat-action-row>
</mat-card>
