<app-loader *ngIf="spinner"></app-loader>
<div class="evol-asientos-pendientes">
  <app-filtros (filtros)="filtrar($event)"></app-filtros>
  <mat-card>
    <mat-card-content class="evol-tabla-limites-container">
      <div class="evol-tabla-wrapper">
        <table mat-table [dataSource]="informationsList">
          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element"  >{{ element?.Fecha }}</td>
          </ng-container>
          <ng-container matColumnDef="dia">
            <th mat-header-cell *matHeaderCellDef>Día</th>
            <td mat-cell *matCellDef="let element">{{ element?.Dia }}</td>
          </ng-container>
          <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <app-actions *ngIf="element?.Dia === 'Abierto'" (click)="cierre(element?.id)" [label]="'Cerrar'"></app-actions>
            </td>
          </ng-container>
          <ng-container matColumnDef="fechaClose">
            <th mat-header-cell *matHeaderCellDef>Fecha de Cierre</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.FechaCierre }}</td>
          </ng-container>
          <ng-container matColumnDef="user">
            <th mat-header-cell *matHeaderCellDef>Cerrado por</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.Usuario }}</td>
          </ng-container>
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">
              <app-progress [loading]="loading"></app-progress>
            </th>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-header-row *matHeaderRowDef="['progress']" class="evol-tabla-progress"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>  
</div>
