<h1 mat-dialog-title>Nueva Referencia Complementaria</h1>

<form [formGroup]="editarRefForm" (ngSubmit)="onSave()">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label for="nombre">Referencia Complementaria</mat-label>
      <input matInput id="nombre" formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label for="valor">Valor</mat-label>
      <input matInput id="valor" formControlName="valor">
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button mat-flat-button type="submit" color="accent" [disabled]="!editarRefForm.valid">Guardar</button>
  </mat-dialog-actions>
</form>
