.evol-reproceso {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.evol-reproceso-info {

  ::ng-deep {
    .mat-list-item-content {
      justify-content: space-between;
    }
  }
}

.evol-card-header {
  justify-content: space-between;
}
