<mat-form-field appearance="fill">
  <mat-label [ngClass]="{ 'error-message u-mb0': error }">{{ label }}
    <ng-content select="[header]"></ng-content>
  </mat-label>
  <mat-select
    #singleSelect
    matInput
    [placeholder]="placeholder"
    [disabled]="disabled"
    [ngModel]="selected?.value || selected"
    (selectionChange)="changeDropdown($event)"
    [ngClass]="{ 'is-invalid-input u-mb0': error }"
  >
    <mat-option>
      <ngx-mat-select-search 
        placeholderLabel="Buscar..."
        (input)="search($event)"
        noEntriesFoundLabel="'No se encontrarn resultados'"
      >
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
  <ng-content></ng-content>
 </mat-form-field>
<div *ngIf="complementary" class="upload-wrapper" (click)="modal()">Búsqueda completa de {{ label }}</div><br>