<div class="evol-page">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="cierreForm" (ngSubmit)="filtrar()">
        <mat-form-field appearance="fill">
          <mat-label>Fecha</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate formControlName="inicio" placeholder="Fecha inicio">
            <input matEndDate formControlName="fin" placeholder="Fecha fin">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>

        <button mat-flat-button color="accent" type="submit">Filtrar</button>
      </form>

      <mat-divider></mat-divider>

      <table mat-table [dataSource]="estados">

        <!-- Columna Numeracion -->
        <ng-container matColumnDef="numeracion" sticky>
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; index as i"> {{ i + 1 }} </td>
        </ng-container>

        <!-- Columna Fecha -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element"> {{ element.fecha | date:'shortDate' }} </td>
        </ng-container>

        <!-- Columna Estado -->
        <ng-container matColumnDef="estado" sticky>
          <th mat-header-cell *matHeaderCellDef>Día</th>
          <td mat-cell *matCellDef="let element"> {{ element.estado }} </td>
        </ng-container>

        <!-- Columna Acciones -->
        <ng-container matColumnDef="acciones" sticky>
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-flat-button color="accent" *ngIf="element.estado === 'Abierto'" (click)="cerrarDia(element.id)">Cerrar</button>
          </td>
        </ng-container>

        <!-- Columna Fecha Cierre -->
        <ng-container matColumnDef="fechaCierre" sticky>
          <th mat-header-cell *matHeaderCellDef>Fecha Cierre</th>
          <td mat-cell *matCellDef="let element"> {{ element.fechaCierre | date:'shortDate' }} </td>
        </ng-container>

        <!-- Columna Ejecutor -->
        <ng-container matColumnDef="ejecutor" sticky>
          <th mat-header-cell *matHeaderCellDef>Cerrado Por</th>
          <td mat-cell *matCellDef="let element"> {{ element.ejecutor }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </mat-card-content>
  </mat-card>
</div>
