<app-loader *ngIf="spinner"></app-loader>
<form [formGroup]="filtrosForm">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Filtros</mat-panel-title>
      <mat-panel-description>
        <span></span>
        <mat-icon>filter_list</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="evol-filtro-container">
    <div class="evol-filtro-section">
        <app-input [onlyNumber]="true" (input)="onFocusOutEvent('Id')" (focusout)="onFocusOutEvent('Id')" [label]="'Id Ejecución'" formControlName="Id" [error]="showErrors('Id')"></app-input>
        <app-form-errors [control]="filtrosForm.controls['Id']"></app-form-errors>

        <app-input (input)="onFocusOutEvent('CreadoPor')" (focusout)="onFocusOutEvent('CreadoPor')" [label]="'Usuario'" formControlName="CreadoPor" [error]="showErrors('CreadoPor')"></app-input>
        <app-form-errors [control]="filtrosForm.controls['CreadoPor']"></app-form-errors>

      </div> 

      <div class="evol-filtro-section">
        <mat-form-field appearance="fill">
          <mat-label for="NombreReporte">Nombre Reporte</mat-label>
          <input matInput formControlName="NombreReporte" autocomplete="off">
        </mat-form-field>
        <app-select [label]="'Estado'" (input)="onFocusOutEvent('Estado')" 
        (focusout)="onFocusOutEvent('Estado')"  formControlName="Estado" [options]="listEstado" [error]="showErrors('Estado')">
        <app-form-errors [control]="filtrosForm.controls['Estado']"></app-form-errors>
        </app-select>
    
      </div>


      <div class="evol-filtro-section">
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Generación</mat-label>
          <mat-date-range-input [rangePicker]="genPicker" disabled>
            <input matStartDate formControlName="FechaInicio" placeholder="Fecha inicio">
            <input matEndDate formControlName="FechaFin" placeholder="Fecha fin">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="genPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #genPicker disabled="false"></mat-date-range-picker>
        </mat-form-field>

     

      </div>


    </div>
    <mat-action-row>
      <app-actions [color]="'warn'" [class]="'flat'" (click)="filtrar()" [label]="'Filtrar'"></app-actions>
    </mat-action-row>
  </mat-expansion-panel>
</form>