<form [formGroup]="filtrosForm" (ngSubmit)="onFiltrar()">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Filtros</mat-panel-title>
      <mat-panel-description>
        <span></span>

        <mat-icon>filter_list</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="evol-filtro-container">
      <div class="evol-filtro-section">
        <mat-form-field appearance="fill">
          <mat-label for="interfaz">Interfaz de Salida</mat-label>
          <mat-select id="interfaz" formControlName="interfaz">
            <mat-option [value]="''">Todos</mat-option>
            <mat-option *ngFor="let interfaz of interfazOptions" [value]="interfaz.codigo">{{ interfaz.valor }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label for="estado">Estado</mat-label>
          <mat-select id="estado" formControlName="estado">
            <mat-option [value]="''">Todos</mat-option>
            <mat-option *ngFor="let estado of estadoOptions" [value]="estado.codigo">{{ estado.valor }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="evol-filtro-section">
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Generación</mat-label>
          <mat-date-range-input [rangePicker]="genPicker" disabled>
            <input matStartDate formControlName="genInicio" placeholder="Fecha inicio">
            <input matEndDate formControlName="genFin" placeholder="Fecha fin">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="genPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #genPicker disabled="false"></mat-date-range-picker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de Lectura</mat-label>
          <mat-date-range-input [rangePicker]="readPicker" disabled>
            <input matStartDate formControlName="readInicio" placeholder="Fecha inicio">
            <input matEndDate formControlName="readFin" placeholder="Fecha fin">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="readPicker"></mat-datepicker-toggle>
          <mat-date-range-picker #readPicker disabled="false"></mat-date-range-picker>
        </mat-form-field>
      </div>

      <div class="evol-filtro-section">
        <mat-form-field appearance="fill">
          <mat-label for="archivo">Nombre Archivo</mat-label>
          <input matInput formControlName="nombreArchivo" autocomplete="off">
        </mat-form-field>
      </div>
    </div>

    <mat-action-row>
      <button type="submit" mat-flat-button color="accent">Filtrar</button>
    </mat-action-row>

  </mat-expansion-panel>
</form>
