.evol-nuevo-asiento {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

.evol-asiento-cabecera {
  width: 100%;
}

.evol-asiento-lineas {
  width: 100%;
}
