<mat-select
    #singleSelect
    matInput
    [placeholder]="placeholder"
    [disabled]="disabled"
    
    [ngModel]="selected?.value || selected"
    (selectionChange)="changeDropdown($event)"
    [ngClass]="{ 'is-invalid-input u-mb0': error }"
  >
  <mat-label [ngClass]="{ 'error-message u-mb0': error }">{{ label }}
    <ng-content select="[header]"></ng-content>
  </mat-label>
    <mat-option>
     <ngx-mat-select-search 
        placeholderLabel="Buscar..."
        (input)="search($event)"
        noEntriesFoundLabel="'No se encontrarn resultados'"
      >
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let option of options" [value]="option.value">
      {{ option.label }}
    </mat-option>
  </mat-select>
  <!--
<mat-form-field appearance="fill">
  <mat-label [ngClass]="{ 'error-message u-mb0': error }">{{ label }}
    <ng-content select="[header]"></ng-content>
  </mat-label>
  <input matInput [attr.type]="type" [(ngModel)]="value" [disabled]="disabled" [attr.placeholder]="placeholder"
     [maxlength]="maxlength"
    [ngClass]="{ 'is-invalid-input u-mb0': error }" />
    <mat-icon  matSuffix class="my-icon">keyboard_arrow_down</mat-icon>
  <ng-content></ng-content>
</mat-form-field>
-->