<mat-toolbar>
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <span>{{ title }}</span>
  <span class="evol-toolbar-spacer"></span>
  <span>{{ nombreUsuario }}</span>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <mat-list-item *ngFor="let menu of menuOptions" [routerLink]="menu.link" routerLinkActive="evol-active-link">{{ menu.texto }}</mat-list-item>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
