.mat-card-content {
  display: flex;
  justify-content: center;
}

.evol-tabla-wrapper {
  overflow: auto;
  width: 100%;
}

table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

%column {
  background-color: rgba($color: #ffffff, $alpha: 1.0);
  min-width: 8em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
 // padding: 0 1em;
  //text-align: center;
  //width: 100%;
}
.mat-column-seleccion {

  text-align: center;
  width: 0.5em;
}
.mat-column-fechaCarga {
   @extend %column;
//text-align: center;
//width: 4em;
}

.mat-column-usuario {
  @extend %column;
}

.mat-column-comprobante {
  @extend %column;
}

.mat-column-fechaContable {
  @extend %column;
}

.mat-column-descripcion {
  @extend %column;
}

.mat-column-cargos {
  @extend %column;
}

.mat-column-abonos {
  @extend %column;
}

.mat-column-cargosTotal {
  @extend %column;
}

.mat-column-abonosTotal {
  @extend %column;
}


.mat-column-acciones {
  @extend %column;
}
