.mat-card-content {
  display: flex;
  justify-content: center;
}

.evol-tabla-wrapper {
  overflow: auto;
  width: 100%;
}

table {
  width: 100%;
}

.mat-header-cell {
  text-align: center;
}

%column {
  background-color: rgba($color: #ffffff, $alpha: 1.0);
  min-width: 8em;
  padding-left: 1em;
  padding-right: 1em;
  text-align: center;
 // padding: 0 1em;
  //text-align: center;
  //width: 100%;
}
.mat-column-seleccion {

  text-align: center;
  width: 0.5em;
}
.mat-column-fechaCarga {
   @extend %column;
//text-align: center;
//width: 4em;
}

.mat-column-usuario {
  @extend %column;
}

.mat-column-comprobante {
  @extend %column;
}

.mat-column-fechaContable {
  @extend %column;
}

.mat-column-descripcion {
  @extend %column;
}

.mat-column-Debito {
  @extend %column;
}

.mat-column-Credito {
  @extend %column;
}

.mat-column-Origen {
  @extend %column;
}

.mat-column-TipoComprobante {
  @extend %column;
}


.mat-column-CantidadLineas {
  @extend %column;
}

.mat-column-NombrePreparador {
  @extend %column;
}
.mat-column-HorayFechaPreparador {
  @extend %column;
}

.mat-column-NombreAprobadorN2 {
  @extend %column;
}

.mat-column-FechayHoraAprobadorN2 {
  @extend %column;
}


.mat-column-NombreAprobadorN3 {
  @extend %column;
}

.mat-column-FechayHoraAprobadorN3 {
  @extend %column;
}


.mat-column-NombreAprobadorN4 {
  @extend %column;
}

.mat-column-FechayHoraAprobadorN4 {
  @extend %column;
}


.mat-column-NombreAprobadorN5 {
  @extend %column;
}

.mat-column-FechayHoraAprobadorN5 {
  @extend %column;
}


.mat-column-MensajeInformativo {
  @extend %column;
}

.mat-column-Estado {
  @extend %column;
}

.mat-column-JustificacionRechazo {
  @extend %column;
}

.mat-column-LimitePolitica {
  @extend %column;
}


.mat-column-acciones {
  @extend %column;
}

