<mat-card>
  <app-title-header [Title]="'Asientos'"></app-title-header>

  <mat-action-row *ngIf="aprobador">
    <app-actions [class]="'flat'" [color]="'primary'" (click)="onAprobar()" [disabled]="selection.isEmpty()" [label]="'Aprobar'"></app-actions>
    <app-actions [class]="'flat'" [color]="'warn'" (click)="onRechazar()" [disabled]="selection.isEmpty()" [label]="'Rechazar'"></app-actions>
  </mat-action-row>

  <mat-card-content>
    <div class="evol-tabla-wrapper">
      <table mat-table [dataSource]="asientos">
        <ng-container matColumnDef="seleccion" sticky>
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="aprobador && $event ? masterToggle() : null"
              [checked]="aprobador && selection.hasValue() && isAllSelected()"
              [indeterminate]="aprobador && selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-checkbox (click)="aprobador && $event.stopPropagation()"
              (change)="aprobador && $event ? selection.toggle(element) : null"
              [checked]="aprobador && selection.isSelected(element)"
              [aria-label]="checkboxLabel(element)"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="fechaCarga">
          <th mat-header-cell *matHeaderCellDef>Fecha Carga</th>
          <td mat-cell *matCellDef="let element">{{ ChangeFormateDate2(element?.fechaCarga) }}</td>
        </ng-container>
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let element">{{ element?.usuario }}</td>
        </ng-container>
        <ng-container matColumnDef="comprobante">
          <th mat-header-cell *matHeaderCellDef>Comprobante</th>
          <td mat-cell *matCellDef="let element">{{ element?.comprobante }}</td>
        </ng-container>
        <ng-container matColumnDef="fechaContable">
          <th mat-header-cell *matHeaderCellDef>Fecha Contable</th>
          <td mat-cell *matCellDef="let element">{{ element?.fechaContable | date:'shortDate' }}</td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let element">{{ element?.descripcion }}</td>
        </ng-container>
        <ng-container matColumnDef="cargos">
          <th mat-header-cell *matHeaderCellDef>Cargos</th>
          <td mat-cell *matCellDef="let element">{{ element?.cargos }}</td>
        </ng-container>
        <ng-container matColumnDef="abonos">
          <th mat-header-cell *matHeaderCellDef>Abonos</th>
          <td mat-cell *matCellDef="let element">{{ element?.abonos }}</td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element?.estado }}</td>
        </ng-container>
        <ng-container matColumnDef="acciones" stickyEnd >
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <app-actions [class]="'flat'" *ngIf="aprobador || preparador" [color]="'accent'" (click)="ver(element.id, element.cuentas)" [label]="'Ver'"></app-actions>
          </td>
        </ng-container>
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">
            <app-progress [loading]="spinner"></app-progress>
          </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="['progress']" class="evol-tabla-progress"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
