<mat-card>
  <app-title-header [Title]="'Asientos'"></app-title-header>

  <mat-action-row *ngIf="aprobador">
    <app-actions [class]="'flat'" [color]="'primary'" (click)="onAprobar()" [disabled]="selection.isEmpty()" [label]="'Aprobar'"></app-actions>
    <app-actions [class]="'flat'" [color]="'warn'" (click)="onRechazar()" [disabled]="selection.isEmpty()" [label]="'Rechazar'"></app-actions>
  </mat-action-row>

  <mat-card-content>
    <div class="evol-tabla-wrapper">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="seleccion" sticky >
          <th mat-header-cell *matHeaderCellDef >
            <mat-checkbox (change)="aprobador && $event ? masterToggle() : null"      
              [checked]="aprobador && selection.hasValue() && isAllSelected()"
              [indeterminate]="aprobador && selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()" *ngIf="aprobador"></mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let element" >
            <mat-checkbox (click)="aprobador && $event.stopPropagation()" 
              (change)="aprobador && $event ? selection.toggle(element) : null"
              [checked]="aprobador && selection.isSelected(element)"
              [aria-label]="checkboxLabel(element)" *ngIf="aprobador"></mat-checkbox>
          </td>
        </ng-container>
        <ng-container matColumnDef="fechaCarga" >
          <th mat-header-cell *matHeaderCellDef>Fecha Carga</th>
          <td mat-cell *matCellDef="let element">{{ ChangeFormateDate2(element?.fechaCarga) }}</td>
        </ng-container>
        <ng-container matColumnDef="usuario" >
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let element">{{ element?.usuario }}</td>
        </ng-container>
        <ng-container matColumnDef="comprobante">
          <th mat-header-cell *matHeaderCellDef>N° Transacci&oacute;n</th>
          <td mat-cell *matCellDef="let element">{{ element?.comprobante }}</td>
        </ng-container>
        <ng-container matColumnDef="fechaContable">
          <th mat-header-cell *matHeaderCellDef>Fecha Contable</th>
          <td mat-cell *matCellDef="let element">{{ ChangeFormateDate2(element?.fechaContable?.replace('-','/')?.replace('-','/')) }}</td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let element">{{ element?.descripcion }}</td>
        </ng-container>
        <ng-container matColumnDef="Debito">
          <th mat-header-cell *matHeaderCellDef>Débitos</th>
          <td mat-cell *matCellDef="let element">{{ numerTranfors(element?.cargos) }}</td>
        </ng-container>
        <ng-container matColumnDef="Credito">
          <th mat-header-cell *matHeaderCellDef>Créditos</th>
          <td mat-cell *matCellDef="let element">{{ numerTranfors(element?.abonos) }}</td>
        </ng-container>
        <ng-container matColumnDef="Origen">
          <th mat-header-cell *matHeaderCellDef>Origen</th>
          <td mat-cell *matCellDef="let element">{{ element?.origen }}</td>
        </ng-container>
        <ng-container matColumnDef="TipoComprobante">
          <th mat-header-cell *matHeaderCellDef>Tipo de Comprobante</th>
          <td mat-cell *matCellDef="let element">{{ element?.tipoComprobante }}</td>
        </ng-container>
        <ng-container matColumnDef="CantidadLineas">
          <th mat-header-cell *matHeaderCellDef>Cantidad de Líneas</th>
          <td mat-cell *matCellDef="let element">{{ element?.cantidadLineas }}</td>
        </ng-container>

        <ng-container matColumnDef="NombrePreparador">
          <th mat-header-cell *matHeaderCellDef>Nombre del Preparador</th>
          <td mat-cell *matCellDef="let element">{{ element?.nombrePreparadorN1 }}</td>
        </ng-container>
        <ng-container matColumnDef="HorayFechaPreparador">
          <th mat-header-cell *matHeaderCellDef>Fecha y Hora de Grabación</th>
          <td mat-cell *matCellDef="let element">{{ element?.fechayHoraGrabacionPreN1 }}</td>
        </ng-container>
        <ng-container matColumnDef="NombreAprobadorN2">
          <th mat-header-cell *matHeaderCellDef>Nombre del Aprobador (Nivel 2)</th>
          <td mat-cell *matCellDef="let element">{{ element?.nombreAprobadorN2 }}</td>
        </ng-container>
        <ng-container matColumnDef="FechayHoraAprobadorN2">
          <th mat-header-cell *matHeaderCellDef>Fecha y Hora de Grabación</th>
          <td mat-cell *matCellDef="let element">{{ element?.fechayHoraGrabacionPreN2 }}</td>
        </ng-container>
        <ng-container matColumnDef="NombreAprobadorN3">
          <th mat-header-cell *matHeaderCellDef>Nombre del Aprobador (Nivel 3)</th>
          <td mat-cell *matCellDef="let element">{{ element?.nombreAprobadorN3 }}</td>
        </ng-container>
        <ng-container matColumnDef="FechayHoraAprobadorN3">
          <th mat-header-cell *matHeaderCellDef>Fecha y Hora de Grabación</th>
          <td mat-cell *matCellDef="let element">{{ element?.fechayHoraGrabacionPreN3}}</td>
        </ng-container>
        <ng-container matColumnDef="NombreAprobadorN4">
          <th mat-header-cell *matHeaderCellDef>Nombre del Aprobador (Nivel 4)</th>
          <td mat-cell *matCellDef="let element">{{ element?.nombreAprobadorN4 }}</td>
        </ng-container>
        <ng-container matColumnDef="FechayHoraAprobadorN4">
          <th mat-header-cell *matHeaderCellDef>Fecha y Hora de Grabación</th>
          <td mat-cell *matCellDef="let element">{{ element?.fechayHoraGrabacionPreN4 }}</td>
        </ng-container>
        <ng-container matColumnDef="NombreAprobadorN5">
          <th mat-header-cell *matHeaderCellDef>Nombre del Aprobador (Nivel 5)</th>
          <td mat-cell *matCellDef="let element">{{ element?.nombreAprobadorN5 }}</td>
        </ng-container>
        <ng-container matColumnDef="FechayHoraAprobadorN5">
          <th mat-header-cell *matHeaderCellDef>Fecha y Hora de Grabación</th>
          <td mat-cell *matCellDef="let element">{{ element?.fechayHoraGrabacionPreN5 }}</td>
        </ng-container>
        <ng-container matColumnDef="MensajeInformativo">
          <th mat-header-cell *matHeaderCellDef>Mensaje Informativo</th>
          <td mat-cell *matCellDef="let element">{{ element?.mensajeInformativo }}</td>
        </ng-container>


        <ng-container matColumnDef="Estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">{{ element?.estado }}</td>
        </ng-container>

        <ng-container matColumnDef="JustificacionRechazo">
          <th mat-header-cell *matHeaderCellDef>Justificación Rechazo</th>
          <td mat-cell *matCellDef="let element">{{ element?.justificacionRechazo }}</td>
        </ng-container>

        <ng-container matColumnDef="LimitePolitica">
          <th mat-header-cell *matHeaderCellDef>Límite de Política Contable</th>
          <td mat-cell *matCellDef="let element">{{ element?.limitePoliticaContable }}</td>
        </ng-container>
        <ng-container matColumnDef="acciones" stickyEnd >
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <app-actions [class]="'flat'" [color]="'accent'" (click)="ver(element.id, element.cuentas)" [label]="'Ver'"></app-actions>
          </td>
        </ng-container>
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">
            <app-progress [loading]="spinner"></app-progress>
          </th>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="['progress']" class="evol-tabla-progress"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
      </table>
      <mat-paginator aria-label="Select page" [pageSize]="20" [showFirstLastButtons]="true" [pageSizeOptions]="[20, 50 , 100]">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
