<mat-card>
  <mat-card-header>
    <mat-card-title>Asientos</mat-card-title>
  </mat-card-header>

  <mat-card-content>

    <div class="evol-tabla-wrapper">
      <table mat-table [dataSource]="asientos">

        <!-- Columna numeracion -->
        <ng-container matColumnDef="numeracion" sticky>
          <th mat-header-cell *matHeaderCellDef>No.</th>
          <td mat-cell *matCellDef="let element; index as i;">{{ i + 1 }}</td>
        </ng-container>

        <!-- Columna Fecha Carga -->
        <ng-container matColumnDef="fechaCarga">
          <th mat-header-cell *matHeaderCellDef>Fecha Carga</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaCarga | date:'shortDate' }}</td>
        </ng-container>

        <!-- Columna Usuario -->
        <ng-container matColumnDef="usuario">
          <th mat-header-cell *matHeaderCellDef>Usuario</th>
          <td mat-cell *matCellDef="let element">{{ element.usuario }}</td>
        </ng-container>

        <!-- Columna Comprobante -->
        <ng-container matColumnDef="comprobante">
          <th mat-header-cell *matHeaderCellDef>Comprobante</th>
          <td mat-cell *matCellDef="let element">{{ element.comprobante }}</td>
        </ng-container>

        <!-- Columna Fecha Contable -->
        <ng-container matColumnDef="fechaContable">
          <th mat-header-cell *matHeaderCellDef>Fecha Contable</th>
          <td mat-cell *matCellDef="let element">{{ element.fechaContable | date:'shortDate' }}</td>
        </ng-container>

        <!-- Columna Descripcion -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Descripción</th>
          <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
        </ng-container>

        <!-- Columna Cargos -->
        <ng-container matColumnDef="cargos">
          <th mat-header-cell *matHeaderCellDef>Cargos</th>
          <td mat-cell *matCellDef="let element">{{ element.cargos }}</td>
        </ng-container>

        <!-- Columna Abonos -->
        <ng-container matColumnDef="abonos">
          <th mat-header-cell *matHeaderCellDef>Abonos</th>
          <td mat-cell *matCellDef="let element">{{ element.abonos }}</td>
        </ng-container>

        <!-- Columna Acciones -->
        <ng-container matColumnDef="acciones" stickyEnd>
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element">
            <button mat-flat-button color="accent">Ver</button>
          </td>
        </ng-container>

        <!-- Columna unica para Progress Bar -->
        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef [attr.colspan]="displayedColumns.length">
            <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-header-row *matHeaderRowDef="['progress']" class="evol-tabla-progress"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

  </mat-card-content>
</mat-card>
