.evol-tabla-limites-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.evol-tabla-wrapper {
  overflow: auto;
  width: 620px;
}

table {
  width: 620px;
}

.mat-header-cell {
  text-align: center !important;
}

%column {
  padding: 1em;
}

.mat-column-descripcion {
  @extend %column;
  text-align: center;
  width: 150px;
}

.mat-column-empiezaCon {
  @extend %column;
  text-align: center;
  width: 250px;
}

.mat-column-importeMaximo {
  @extend %column;
  text-align: center;
  width: 200px;
}

.mat-column-nuevoValor {
  @extend %column;
  text-align: center;
  width: 150px;
}
