<app-loader *ngIf="spinner"></app-loader>
<form [formGroup]="filtrosForm">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Filtros</mat-panel-title>
      <mat-panel-description>
        <span></span>
        <mat-icon>filter_list</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="evol-filtro-container">
      <div class="evol-filtro-section">

        <app-select (changeOption)="onFocusOutEvent('origen');" [label]="'Origen'" formControlName="origen"
        [options]="origenOptions" [error]="showErrors('origen')"></app-select>
      <app-form-errors [control]="filtrosForm.controls['origen']"></app-form-errors>

      <app-select (changeOption)="onFocusOutEvent('tipoComprobante');" [label]="'tipoComprobante'" formControlName="tipoComprobante"
        [options]="tipoComprobanteOptions" [error]="showErrors('tipoComprobante')"></app-select>
      <app-form-errors [control]="filtrosForm.controls['tipoComprobante']"></app-form-errors>
     

      </div>
      <div class="evol-filtro-section">
        
        <mat-form-field appearance="fill">
          <mat-label>Fecha de Carga</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matInput matStartDate formControlName="fechaCargaInicio" placeholder="Fecha Carga Inicio" autocomplete="off">
            <input matInput matEndDate formControlName="fechaCargaFin" placeholder="Fecha Carga Fin" autocomplete="off">
          </mat-date-range-input>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
        </mat-form-field>

    

        <app-select *ngIf="isAprobad" (changeOption)="onFocusOutEvent('usuario');" [label]="'Usuario'" formControlName="usuario"
          [options]="usuarioOptions" [error]="showErrors('usuario')"></app-select>
        <app-form-errors [control]="filtrosForm.controls['usuario']"></app-form-errors>

        <app-select  *ngIf="!isAprobad" (changeOption)="onFocusOutEvent('aprobador');" [label]="'aprobador'" formControlName="aprobador"
        [options]="aprobadoresOptions" [error]="showErrors('aprobador')"></app-select>
      <app-form-errors [control]="filtrosForm.controls['aprobador']"></app-form-errors>
      </div>
      <div class="evol-filtro-section">

        
        <app-select (changeOption)="onFocusOutEvent('limitePolitica');" [label]="'limitePolitica'" formControlName="limitePolitica"
          [options]="LimitePoliticaOptions" [error]="showErrors('limitePolitica')"></app-select>
        <app-form-errors [control]="filtrosForm.controls['limitePolitica']"></app-form-errors>


        <app-select (changeOption)="onFocusOutEvent('estado');" [label]="'Estado'" formControlName="estado"
          [options]="estadoOptions" [error]="showErrors('estado')"></app-select>
        <app-form-errors [control]="filtrosForm.controls['estado']"></app-form-errors>
      </div>
    </div>
    <mat-action-row>
      <app-actions [color]="'warn'" [class]="'flat'" (click)="filtrar()" [label]="'Filtrar'"></app-actions>
    </mat-action-row>
  </mat-expansion-panel>
</form>