<app-close></app-close>
<h1 mat-dialog-title>Nueva Referencia Complementaria</h1>
<form [formGroup]="form" autocomplete="off">
    <div mat-dialog-content class="evol-editar-linea-container">
        <app-input (input)="onFocusOutEvent('name')" (focusout)="onFocusOutEvent('name')" [label]="'Referencia Complementaria'" formControlName="name" [error]="showErrors('name')"></app-input>
        <app-form-errors [control]="form.controls['name']"></app-form-errors>
        <app-input [onlyNumber]="true"  (input)="onFocusOutEvent('value')" (focusout)="onFocusOutEvent('value')" [label]="'Valor'" formControlName="value" [error]="showErrors('value')"></app-input>
        <app-form-errors [control]="form.controls['value']"></app-form-errors>
    </div>
    <mat-dialog-actions class="evol-footer-actions">
        <app-actions [color]="'accent'" [class]="'flat'" (click)="save()" [disabled]="!form.valid" [loading]="loading" [label]="'Guardar'"></app-actions>
    </mat-dialog-actions>
</form>