<app-loader *ngIf="spinner"></app-loader>
<app-close></app-close>
<h2 mat-dialog-title>Combinación Contable</h2>
<form [formGroup]="form" autocomplete="off">
    <div mat-dialog-content class="evol-editar-linea-container">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Compañía</mat-label>
        <input type="text" (focusout)="onFocusOutEvent('comp1')" matInput formControlName="comp1" [matAutocomplete]="auto">
        <mat-autocomplete (optionAdd)="optionAdd($event)" #auto="matAutocomplete" >
          <mat-option *ngFor="let option of filteredParte1Options | async" [value]="option.label">
            {{option.label}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <app-select-filter [disabled]="true" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp2Select" (changeOption)="onFocusOutEvent('comp2')" [label]="'Cuenta'" formControlName="comp2" [options1]="parte2Options" [options]="parte2Options" [error]="showErrors('comp2')"></app-select-filter>
      <app-form-errors [control]="form.controls['comp2']"></app-form-errors>
      <app-select-filter [disabled]="true" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp4Select" (changeOption)="onFocusOutEvent('comp4');changeSelection($event)" [label]="'Sucursal'" formControlName="comp4" [options1]="parte4Options" [options]="parte4Options" [error]="showErrors('comp4')"></app-select-filter>
      <app-form-errors [control]="form.controls['comp4']"></app-form-errors>
      <app-select-filter [disabled]="true" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp3Select" (changeOption)="onFocusOutEvent('comp3')" [label]="'Oficina'" formControlName="comp3" [options1]="parte3Options" [options]="parte3Options" [error]="showErrors('comp3')"></app-select-filter>
      <app-form-errors [control]="form.controls['comp3']"></app-form-errors>
      <app-select-filter [disabled]="true" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp5Select" (changeOption)="onFocusOutEvent('comp5')" [label]="'Proyecto'" formControlName="comp5"  [options1]="parte5Options" [options]="parte5Options" [error]="showErrors('comp5')"></app-select-filter>
      <app-form-errors [control]="form.controls['comp5']"></app-form-errors>
      <!-- SUBPROYECTO -->
      <app-select-filter [disabled]="true" *ngIf="origen != origenSIF" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp6Select" (changeOption)="onFocusOutEvent('comp6')" [label]="'Subproyecto'" formControlName="comp6" [options1]="parte6Options" [options]="parte6Options" [error]="showErrors('comp6')"></app-select-filter>
      <app-input [maxlength]="'30'" 
      *ngIf="origen == origenSIF"
        (input)="onFocusOutEvent('comp6')" 
        (focusout)="onFocusOutEvent('comp6')" 
        [label]="'Subproyecto'" 
        formControlName="comp6" 
        [error]="showErrors('comp6')">
      </app-input>
      <app-form-errors [control]="form.controls['comp6']"></app-form-errors>
      <!-- FIN SUBPROYECTO -->
      <app-select-filter [disabled]="true" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp7Select" (changeOption)="onFocusOutEvent('comp7')" [label]="'Tipo Comprobante'" formControlName="comp7" [options1]="parte7Options" [options]="parte7Options" [error]="showErrors('comp7')"></app-select-filter>
      <app-form-errors [control]="form.controls['comp7']"></app-form-errors>
      <app-select-filter [disabled]="true" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp8Select" (changeOption)="onFocusOutEvent('comp8')" [label]="'Intercompañía'" formControlName="comp8" [options1]="parte8Options" [options]="parte8Options" [error]="showErrors('comp8')"></app-select-filter>
      <app-form-errors [control]="form.controls['comp8']"></app-form-errors>
      <app-select-filter [disabled]="true" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp9Select" (changeOption)="onFocusOutEvent('comp9')" [label]="'Vinculado'" formControlName="comp9" [options1]="parte9Options" [options]="parte9Options" [error]="showErrors('comp9')"></app-select-filter>
      <app-form-errors [control]="form.controls['comp9']"></app-form-errors>
      <app-select-filter [disabled]="true" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp10Select" (changeOption)="onFocusOutEvent('comp10')" [label]="'Futuro 1'" formControlName="comp10" [options1]="parte10Options" [options]="parte10Options" [error]="showErrors('comp10')"></app-select-filter>
      <app-form-errors [control]="form.controls['comp10']"></app-form-errors>
      <app-select-filter [disabled]="true" [valueId2]="valueId2" [valueId1]="valueId1" (optionAdd)="optionAdd($event)" [complementary]="true" [selected]="comp11Select" (changeOption)="onFocusOutEvent('comp11')" [label]="'Futuro 2'" formControlName="comp11" [options1]="parte11Options" [options]="parte11Options" [error]="showErrors('comp11')"></app-select-filter>
      <app-form-errors [control]="form.controls['comp11']"></app-form-errors>
    </div>
    <mat-dialog-actions>
      <app-actions [color]="'accent'" [class]="'flat'" (click)="save()" [disabled]="!form.valid" [loading]="loading" [label]="'Guardar'"></app-actions>
    </mat-dialog-actions>
  </form>
  